body{
font-family: sans-serif;
}

/* Box Model */
.box{
    width: 200px;
    height: 100px;
    color: blue;
    border:5px solid black;
    padding: 20px;
    margin: 30px;
    background-color: lightblue;

}
.box2{
 width: 200px;
 height: 100px;
    color: rgb(3, 3, 40);
    border:5px solid rgb(186, 19, 19);
    padding: 20px;
    margin: 30px;
background-color: lightcoral;
box-sizing: border-box;
}