body{
    /* margin: 0px;
    padding:  20px; */
   font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box1{
width: 200px;
height: 100px;
border: 3px solid blue;
background-color: skyblue;
padding: 15px;
margin: 20px;
text-align: center;
}
.box2{
    width: 200px;
height: 100px;
border: 3px solid red;
background-color: lightcoral;
padding: 15px;
margin: 20px;
text-align: center;
text-transform: capitalize;
}
.box3{
    width: 200px;
height: 100px;
border: 3px solid green;
background-color: lightgreen;
padding: 15px;
margin: 20px;
text-align: center;
}

.normal-box{
    width:200px ;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    background-color: lightgrey;
}

.border-box{
    width:200px ;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    background-color: lightgreen;
    box-sizing: border-box;
}

