body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
display: grid;
grid-template-columns: 250px 1fr;
grid-template-rows: 70px 1fr 60px;
grid-template-areas:'header header' 'sidebar main' 'footer footer';
height: 100vh;
}
.head{
grid-area: header;
background-color:#333;
color: white;
align-items: center;
padding-left: 20px;

display: flex;
}
.side{
grid-area: sidebar;
background-color: #555;
color: white;
padding: 20px;
}  
.main{
grid-area: main;
background-color:#948e8e ;
padding: 20px;
}
.footer{
grid-area: footer;
background-color: #333;
color: white;
align-items: center;
justify-content: center;
display: flex;
}