/* .container{
display: flex;
gap: 20px;
}
.card{
    width: 30%;
    background-color: chartreuse;
    height:150px ;
    
}
@media(max-width:760){
.container{
    flex-direction: column;
  
}
.card{
width:100%;
background-color: aqua;
}

}

.p1{
background-color: aqua;
}
.p2{
background-color: blueviolet;
}
.p3{
background-color: blanchedalmond;
}
@media  screen and (min-width:600px) and (min-width:800px)  {
    .p1{
        background-color: rgb(152, 49, 49);
        color: bisque;
    }
}
 */
 .container{
    display: flex;
flex-direction: column;
gap: 15px;
padding: 20px;

 }
.mobie{
    background-color: rgb(244, 6, 6);
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 8px;

}
@media(min-width: 768px){
.mobie{
    flex-direction: row;
    background-color:   rgb(145, 10, 10);
}
}

.Navbar{
display: flex;
flex-direction: column;
background-color: black;


padding: 20px;
}
.logo{
color: white;
font-size: 20px;
margin-bottom: 20px;
position: sticky;
}
.menu{
list-style: none;
padding: 0px;
margin: 0px;
display: flex;

flex-direction: column;
gap: 20px;
}
.menu li{
color: white;
}
@media(min-width:768px){
.Navbar{
    flex-direction: row;
  align-items: center;
    justify-content: space-evenly;
  
}
.menu{
    flex-direction: row;
  
}
}